<!DOCTYPE html>
    <head>
        <titel>
          
        </titel>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      </head>
    <body>
          <div>
            <div class="logo_nav">
                <img src="assets/image/download.png"\>
           
            
                <div class= "sign_up"> &#128100; <button class="button button5"><a> Sign Up </a></button></div>  
                <div class= "sign_in">&#8677; <button class="button button5"><a>Sign In</a> </button></div>
              </div>
          </div>
          <div class="topnav">
              <a class="elements" href="#home.html">&#x1F3E0; HOME</a>
              <a href="#our_service">&#x1F5D2; OUR SERVICE</a>
              <a href="#booking.html">&#x1F698; BOOKING</a>
              <a href="contact.html">&#x1F4F3; CONTACT</a>
              <a href="#faq">&#x1F914; FAQ</a>
              <a href="#about">&#x1F57A; ABOUT</a>
          </div>
          
   <section id='carsCard'></section>
    <script src="../assets/js/bookingMainPage.js"></script>
</body>
</html>