<!DOCTYPE html>
    <head>
        <titel>
          
        </titel>
        <link rel="stylesheet" href="assets/css/style.css">
      </head>
    <body>
          <div>
            <div class="logo_nav">
                <img src="assets/image/download.png"\>
           
            
                <div class= "sign_up"> &#128100; <button class="button button5"><a> Sign Up </a></button></div>  
                <div class= "sign_in">&#8677; <button class="button button5"><a>Sign In</a> </button></div>
              </div>
          </div>
          <div class="topnav">
              <a class="elements" href="/">&#x1F3E0; HOME</a>
              <a href="/service">&#x1F5D2; OUR SERVICE</a>
              <a href="/booking">&#x1F698; BOOKING</a>
              <a href="/contact">&#x1F4F3; CONTACT</a>
              <a href="/faq">&#x1F914; FAQ</a>
              <a href="/about">&#x1F57A; ABOUT</a>
          </div>
          <p><h4>FAQ</h4>        
        Got a question? We're here to answer. If you don't see your question here,<a href="/contact"> Contact Us.</a></p>

          <div class="questions">
            <div class="question" id="question1">
              <a class="question1" href="#question1">What do I need to rent a car?</a>
              <div class="content">
                <div class="inner-content">
                  When you’re booking the car, you just need a debit or credit card.

                    At the rental counter, you’ll need:
                    
                    Your passport
                    Your voucher
                    Each driver’s driving licence
                    The main driver’s credit card (some rental companies also accept debit cards, but most don’t).
                    Important: Please make sure you check the car’s rental terms as well, as each rental company has its own rules.
                    For example? They might need to see some extra ID. They might not accept certain types of credit card.
                    Or they might not rent to any driver who hasn’t held their driving licence for 36 months or more.
                </div>
              </div>
            </div>
            <div class="question" id="question2">
              <a class="question2" href="#question2"> Am I old enough to rent a car?</a>
              <div class="content">
                <div class="inner-content">
                  Most companies will rent you a car 
                      if you’re at least 21 (and some will rent to younger drivers).
                      But if you’re under 25, you might still have to pay a ‘young driver fee’.
                </div>
              </div>
            </div>
            <div class="question" id="question3">
              <a class="question3" href="#question3">Can I book a car for my partner, friend, colleague, etc?
              </a>
              <div class="content">
                <div class="inner-content">
                  Of course. Just put their details in the ‘Driver Details’ 
                    form when you’re booking the car.
                </div>
              </div>
            </div>
            <div class="question" id="question4">
              <a class="question4" href="#question4"
                >Any tips on choosing the right car?</a>
              <div class="content">
                <div class="inner-content">
                  <ul>
                    <li>Think about where you’re going. An SUV might be great for cruising down a Texas freeway, but a smaller car’s probably much easier to drive in Rome.</li> 
                    <li>See what other people think. You’ll find lots of reviews and ratings on our site, so find out what other customers liked (and didn’t like) about each rental company.</li>
                    <li>Don’t forget the gearbox. In some countries, nearly everyone drives a manual car. In others, automatics are the norm. Make sure you rent one you can drive!</li>
                  </ul>               
                </div>
              </div>
            </div>
          </div>
          <footer>
            <div>
            <img src="assets/image/download.png"\>
              <p> We provide customers with national car rental that are tailored to meet their needs.</p>
            </div>
            <div class="contact_us">
              <div> &#x1F4DE; 02-6202065</div>
              <div>&#x1F4F3; 0776530917 & 0790547484</div>
              <div>&#x1F4E7; wafaakhawaldah@gmail.com</div>
  
  
            </div>
            <div>
              
            </div>
  
          </footer>    
      
    </body>
</html>         